html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Roboto','Helvetica', Tahoma;
  font-size: 14px;
  background: #371115 url(../img/background.jpg) top center no-repeat;
  color: #FFF;
  padding-top: 50px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
