//imports for body fonts
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700);


/*body styles*/

/*animated background*/
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

body,html { 
margin:0; 
padding: 0; 
width: 100%;
}

html{
    overflow-x: hidden !important;
}
body{
    line-height:1.5em;
     border: 0;
    margin: 0 auto;
    padding: 0;
}

ol,ul,dl{
    margin:0;
    padding:0;
    list-style-type:none;
}


body{
    font-family: 'Raleway', sans-serif;
    font-weight:normal;
    color: #6a6a6a!important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    color: #262626;
}
h2{
    font-size:60px;
}
h3{
    font-size:40px;
    font-weight:400;
    text-transform:uppercase;
    line-height:60px;
}
h4{
    line-height:25px;
    font-size: 18px;
}
h5{
    line-height:25px;
    font-weight:600;
}
p{
    line-height:25px;
    font-weight:400;
    color: #6a6a6a;
}
a{
    text-decoration:none!important;
}
.div-img{
    position:relative;
    display:inline-block;
    width:100%;
    margin:15px auto 20px;
    text-align:center;
}
.feature_title{
    position:relative;
    padding-bottom:10px;
    color:#EE3B24!important;
    width: 45%;
    margin: 10px auto;
    font-size: 40px;
    line-height: 50px;
    text-transform:uppercase;
}
.feature_title:hover{
    cursor: pointer;
    animation: pulse 1s ease-in-out 100ms both;
    -webkit-animation:pulse 1s ease-in-out 100ms both;
    -o-animation:pulse 1s ease-in-out 100ms both;
}
.feature_sub{
    color:#000;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.btn-main{
    padding: 10px 25px;
    border-radius: 3px;
    border: medium none;
    vertical-align: middle;
    cursor: pointer;
    border:1px solid#333;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.42857;
    background: #333;
    color:#fff;
    font-weight: 700;
    margin-top: 30px;
    text-transform: capitalize!important;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.btn-dark{
    padding: 10px 25px;
    border-radius: 3px;
    border: medium none;
    vertical-align: middle;
    cursor: pointer;
    border:1px solid#EE3B24;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.42857;
    font-weight: 700;
    margin-top: 30px;
    text-transform: capitalize!important;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-dark:hover{
    background: #EE3B24;
    color: #fff;
}
.feature-tab,.team-items,.pricing,.single_blog ,#testimonial .owl-carousel .owl-wrapper,.contact_full{
    margin-top: 40px;
}
#portfolio{
    padding-bottom: 0px;
}
#footer{
    padding: 0;
}

/*Divider*/
.divider{
    display: block;
    margin: 20px auto;
    content: "";
    width: 70px;
    height: 5px;
    }

#service,#pricing_table,#about,#team,#blog,#contact,#testimonial,#portfolio,#video-fact,#about-details {
     padding-bottom: 130px;
     padding-top:90px;
}
section{
    /*padding:50px 0px;*/
}
.feature_header {
    padding-top: 20px;
}
#video-fact{
    padding-bottom: 90px!important;
}
#portfolio{
    padding-bottom: 0px!important;
}
/* Custom Basic styles */

/*header*/
.main-nav{
    width: auto;
}
#section_header .haeder-fixed{
    background: #fff;
    padding: 10px 0px;
}
#section_header{
    background:#fff;
    padding: 10px 0px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}
.navbar{
 position:relative;
 margin-top: 10px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px!important;
}
.navbar-brand{
    font-size:40px;
    color: #222;
}
.navbar-brand img{
  height: 180%;
    width: auto;
    vertical-align: middle;
    max-width: 100%;
}
.navbar{
    margin-bottom:0px;
    -webkit-border-radius:0px;
       -moz-border-radius:0px;
            border-radius:0px;
    position:relative;
}
ul.navbar-nav a {
    font-weight: 700;
    font-size: 14px;
    padding: 15px 0 15px 30px;
    line-height: 40px;
    display: inline-block;
    text-transform: uppercase;
}
.nav > li > a:focus {
   background: transparent!important;
}
ul.navbar-nav > .active > a{
    -webkit-border-radius:2px;
       -moz-border-radius:2px;
            border-radius:2px;
}

.nav > li > a:hover{
    background: transparent;
}

.navbar-nav .dropdown-menu{
    left: 0;
    right: auto;
}

.dropdown-menu * {
    width: 100%;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.navbar-nav .dropdown-menu{
    background: #555;
    border: 0;
    box-shadow: none;
    min-width: 240px;
    display: block;
    opacity: 0;
    z-index:1;
    visibility:hidden;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: visibility 500ms, opacity 500ms, -webkit-transform 500ms cubic-bezier(.43, .26, .11, .99);
    -moz-transition: visibility 500ms, opacity 500ms, -moz-transform 500ms cubic-bezier(.43, .26, .11, .99);
    -o-transition: visibility 500ms, opacity 500ms, -o-transform 500ms cubic-bezier(.43, .26, .11, .99);
    -ms-transition: visibility 500ms, opacity 500ms, -ms-transform 500ms cubic-bezier(.43, .26, .11, .99);
    transition: visibility 500ms, opacity 500ms, transform 500ms cubic-bezier(.43, .26, .11, .99);
}

.navbar-nav .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility:visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
 }

 .navbar-nav .dropdown-backdrop {
    visibility: hidden;
}

.navbar-nav .dropdown-menu li{
    padding: 5px 20px 0;
}

.navbar-nav .dropdown-menu li:first-child{
    border-radius: 2px 2px 0 0;
}

.dropdown-menu li:last-child{
    border-radius: 0 0 2px 2px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 15px!important;
}
.dropdown-menu>li>a{
    font-size: 14px;
    padding: 5px 0;
    color: #fff;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, 
.dropdown-menu>li.active>a{
    background: none !important;
}

/*slider rules*/
#slider_part{
   height: 800px;
   width: 100%;
   overflow:hidden;
}

.carousel-caption{
    top: 30%;
    margin-top: -50px;
    text-shadow:none!important;
    left:9%;
    right: 10%;
    -webkit-transition: all.3s ease 0s;
    -o-transition: all.3s ease 0s;
    transition: all.3s ease 0s;
    text-align: center;
}
.carousel-caption h3{
    text-shadow:none;
    font-size: 70px;
    line-height: 92px;
    font-weight: 300;
    margin: 20px 0px;
    transition-delay:.3s;
    -webkit-transition-delay:.3s;
    -o-transition-delay:.3s;
   text-transform: capitalize!important;
}
.carousel-caption p{
    font-size:46px;
    line-height: 62px;
    font-weight: 500;
    color: #fff;
    transition-delay:.3s;
    -moz-transition-delay:.3s;
    -o-transition-delay:.3s;
    margin: 40px 0px;
    text-transform: uppercase;
}
.carousel-caption img{
    border:2px solid#fff;
    padding:10px 10px 10px 20px;
}
.line{
   width: 100px;
    height: 5px;
    color: #222;
    margin: 0px auto;
}
.carousel-caption p i{
    font-size: 7px;
    margin: 0px 3px;
    position: relative;
    top: -3px;
}
.carousel .item {
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.btn-featured{
    text-decoration:none;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent;
    border-radius:2px;
    z-index:1;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    padding: 15px 40px !important;
    text-transform: uppercase;
    margin-top:20px;
    margin-right: 10px;
}

.carousel-control.left,.carousel-control.right{
    background-image:none !important;
    background-repeat:no-repeat !important;
}
.carousel-control{
    width:4% !important;
}

.carousel-caption img{
    height: auto;
}
 .carousel-indicators{
    bottom:100px;
    width: 10%;
    left: 45%;
    margin:0 auto;
    bottom:30%;
}

.carousel-indicators li{
    width: 20px !important;
    height: 20px !important;
    border: 2px solid #FFF !important;
    margin: 0px !important;
    border-radius: 50%;

}
.carousel-control.left span{
    padding:15px;
}
.slides-control .carousel-control i{
    line-height: 36px;
    font-size: 32px;
    padding-top: 6px;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.slides-control .carousel-control{
    position: absolute;
    width: 240px;
    top: 35%;
    z-index:10;
}

.carousel-control.left{
    left: 0px;
}
.carousel-control.right{
    right: 15px;
}
.carousel-control.left{
    width: 120px;
    height: 40px;
}
.carousel-control.right{
    width: 120px;
    height: 40px
}
.overlay-slide{
    height: 850px;
    position: relative;
    width: 100%;
}
.overlay-slide:after{
    background: url("../images/banner/overaly.png");
    position: absolute;
    content: "";
    z-index: 3;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.overlay-slide img{
    /*opacity:.6;*/
   /* width: 100%;
    height: auto;*/
    width: 100%;
    display: block;
}




/*-- Animation --*/

.carousel .item.active .animated2 {
    -webkit-animation: lightSpeedIn 1s ease-in 200ms both;
    animation: lightSpeedIn 1s ease-in 200ms both;
}

.carousel .item.active .animated3 {
    -webkit-animation: bounceInLeft 1s ease-in-out 500ms both;
    animation: bounceInLeft 1s ease-in-out 500ms both;
}


/*services*/

.main_feature{
    margin: 40px 0px;
}

.feature_content:hover .feature_content:after{
    border:2px solid#fff!important;
}
.feature_content:hover i{
    top: -20px;
}

.feature_content:hover i,.feature_content:hover  h5{
      cursor: pointer;
}
.feature_content i{
    font-size:60px;
    line-height: 60px;
    z-index:3;
    position: relative;
     -webkit-transition: all .4s ease .1s;
    -o-transition: all .4s ease .1s;
    transition: all .4s ease .1s;
    display: block;
}

.feature_content h5{
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    margin: 0px 0px 30px;
    text-transform: uppercase;
    padding-top: 34px;
   -webkit-transition: all 150ms linear 0s;
    -o-transition: all 150ms linear 0s;
    transition: all 150ms linear 0s;
    letter-spacing: -1px;
}

.feature_content p{
    font-size: 14px;
    line-height: 24px;
    color: #222;
}
.feature_content a{
    text-decoration:none;
    padding: 8px;
    margin-top: 10px;
}
.feature_content a:hover{
    text-decoration:none;
}

/*portfolio*/
#portfolio{
    background: #FBFAF8;
}
#isotope-filter{
    padding:35px 0px;
}
#isotope-filter a{
color: #fff!important;
padding: 10px 15px;
}

#portfolio{
}
.portfolio-wrap{
    position: relative;
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    transition: height 450ms ease-out 0s;
    -webkit-transition: height 450ms ease-out 0s;
    -o-transition: height 450ms ease-out 0s;
}
.single-portfolio{
    display: block;
    overflow: hidden;
    padding: 0px;
    float:left;
    
}
.single-portfolio figure{
   padding: 0px;
}
.single-portfolio img{
   display: block;
   width: 100%;
   height: auto!important;

}

.single-portfolio:hover figcaption{
    opacity:1;
    -webkit-transition: transform 0.35s ease 0s;
    -o-transition: transform 0.35s ease 0s;
    transition: transform 0.35s ease 0s;
   -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    cursor: pointer;
}

.single-portfolio:hover .single-portfolio img{
    opacity:.6;
}
.single-portfolio figcaption{
    bottom: 0px;
    height: 60%;
    width: 100%;
    color: #222;
    padding: 12px 15px;
    -webkit-transition: transform 0.35s ease 0s;
    -o-transition: transform 0.35s ease 0s;
    transition: transform 0.35s ease 0s;
    -webkit-transform: translate3d(0px, 100%, 0px);
    -ms-transform: translate3d(0px, 100%, 0px);
    -o-transform: translate3d(0px, 100%, 0px);
    transform: translate3d(0px, 100%, 0px);
    position: absolute;
    opacity: 0;

}

.single-portfolio figcaption .description{
    text-transform: none;
    font-size: 90%;
    padding-top: 50px;
    text-align: left;
}
.single-portfolio figcaption h5,.single-portfolio figcaption p{
    margin: 10px 0px;
}
.single-portfolio figcaption h5{
    float: left;
}

figcaption .links{
    float: right;
}

figcaption .links a{
   -webkit-transition: transform 0.35s ease 0s;
   -o-transition: transform 0.35s ease 0s;
   transition: transform 0.35s ease 0s;
   
-webkit-transform: translate3d(0px, 200%, 0px);
-ms-transform: translate3d(0px, 200%, 0px);
-o-transform: translate3d(0px, 200%, 0px);
transform: translate3d(0px, 200%, 0px);
text-decoration: none;
background: #fff;
color: #222;
padding: 8px 15px;
}






















/*contact form*/
#contact{
    background: #fff;
}
#contact .feature_title{}
#contact .divider{color: #fff!important;}

.left_contact{
    color: #E7E7E7;
    max-width:850px; 
}

.form-control{
    box-shadow:none!important;
}


.form{    
    width: 100%;
    height: auto;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    color: #7F7F7F;
    padding: 15px 15px 12px;
    border-radius:0px;
    text-transform: capitalize!important;
    padding-left: 70px;
}


.right textarea{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid#EEE;
} 
 .right .form-control{
    box-shadow: none!important;
 }
 .contact_full .btn-main{
    margin-top: 20px;
 }


 .left h4,.right h4{
    margin-bottom: 20px;
}
.contact_txt li{ 
   display: block;
   padding-bottom: 10px;
   border-bottom: 1px dotted#555;
   margin-bottom: 5px;
}
.contact_txt li:last-child{ 
   border-bottom: 0px ;
}
.contact_txt i{
    float: left;
    color: #555;
    width: 40px;
    height: 40px;
    padding-top: 5px;
}
.contact_txt li p{
    color: #555;
}
.social-contact li i{
    color: #555;
    width: 30px;
    height: 30px;
    padding: 5px 0px 5px 7px;
    border: 1px solid#555;
    border-radius: 2px;
    line-height: 15px;
}

.form-icon {
    position: absolute;
    right: 0px;
    color: #DDD;
    top: 10px;
}
.form-level{
    position: relative;
}
.form-level input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #EEE;
    margin-bottom: 10px;
}
.form-level  span {
    width: 50px;
    font-size: 20px;
    padding-left: 17px;
    height: 47px;
    position: absolute;
    color: #888;
}


/*footer*/

.footer_top{
    overflow: hidden;
    padding: 30px 0px 50px;
    border-bottom: 1px solid #0F0F0F;
    background: none repeat scroll 0% 0% #333;
    color: #AAA;
}

.footer_b{
    background: #222; 
    border-top: 1px solid #555;
}
.footer_menu li a:before{
    display: inline-block;
    margin-right: 8px;
    color: #5B5B5B;
    content: "ï„…";
    font-family: FontAwesome;
}
.menu_head{
    color: #C5C5C2!important;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 15px 0px 35px 0px;
}
.menu_head:after{
    position: absolute;
    left: 18px;
    width: 55px;
    height: 1px;
    content: "";
    top: 49px;
}
.menu_head:before{
    position: absolute;
    left: 32px;
    width: 24px;
    height: 5px;
    content: "";
    display: inline-block;
    top: 47px;
}

.footer_mid ul li{
    margin-top: 20px;
}
.footer_menu ul li a{
    text-decoration: none;
    color: #9E9E9E;
    display: inline-block;
    padding: 5px 0px;
}
.footer_menu_contact ul li {
    padding: 5px 0px;
}
.footer_menu_contact li i{
    width: 20px;
}
.footer_menu_contact li span:hover {
    cursor:pointer;
}

.tags a{
    display: block;
    float: left;
    margin: 3px;
    padding: 8px 10px;
    background: none repeat scroll 0% 0% #2C2C2C;
    color: #C4C4C4;
    font-size: 14px;
    text-decoration: none;
}
.tags a:hover{
    color: #fff;
}
.footer_social {
    padding: 20px 0px;
}
.footer_social i {
    width: 50px;
    height: 50px;
    padding: 14px;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.footer_bottom {
}
.footer_bottom p {
    font-size: 18px;
    color: #C4C4C4;
    margin: 25px 0px;
}

/*map section*/
iframe {
    height: 450px;
    z-index: 1;
    width: 100%;
}

/*back top top*/
#back-top{
    position:fixed;
    right:30px;
    bottom:50px;
    z-index:9999;
}
    
#back-top a{
    opacity:0.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
    
   
#back-top .btn-primary{
    background: #EE3B24;
    border-color: #EE3B24;
    padding: 0px;
    font-size: 18px;
    width: 36px;
    height: 36px;
}
  
#back-top a:hover{
    background: #EE3B24;
    opacity: 1;
}