html, header, body, div, nav, footer {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*style rules for body container*/
html, body{
  height: 100%;
  width: 100%;
}
body {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  background: #371115 url(../img/background.jpg) top center no-repeat;
  color: #FFF;
  padding-top: 50px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    padding-bottom: 50px;
    text-align: center;
}
/*navbar*/
/*Strip the ul of padding and list styling*/
ul {
  list-style-type:none;
  margin:0;
  padding:0;
  /*position: absolute;*/
}

/*Create a horizontal list with spacing*/
li {
  display:inline-block;
  float: left;
  margin-right: 1px;
}

/*style rules for all wrapper classes*/
.wrapper{
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  max-width: 1000px;
}
/*style rules for h2*/
h2{
  color: white;
  display: table;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 0 auto 20px auto;
  width: auto;
  letter-spacing: -0.05em;
  font-weight: 700;
}

/*style rules for button*/
.btn {
  background: dodgerblue;
  border: none;
  color: #2a292b;
  display: table;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  padding: 5px 10px;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;
  border-radius: 4px;
}

/*style rules for header*/
header{
left: 0;
padding: 70px 0;
position: fixed;
text-align: center;
top: 0;
width: 100%;
z-index: 999;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  -webkit-animation: fadeIn 700ms 600ms;
  -webkit-animation-fill-mode: backwards;
}
p {
  line-height: 1.35em;
  margin: 0 auto;
  max-width: 780px;
  text-align: center;
}


/*Style for body lists*/
li a {
  display:block;
  min-width:140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #2f3036;
  text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
  background-color: dodgerblue;
}

/*Style for dropdown links*/
li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
  background-color: dodgerblue;
  color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
  display: none;
}

/*Make dropdown links vertical*/
li ul li {
  display: block;
  float: none;
}

/*Prevent text wrapping*/
li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
  display: block;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: dodgerblue;
  text-align: center;
  padding: 10px 0;
  display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width : 760px){
  /*Make dropdown links appear inline*/
  ul {
    position: static;
    display: none;
  }
  /*Create vertical spacing*/
  li {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  ul li, li a {
    width: 100%;
  }
  /*Display 'show menu' link*/
  .show-menu {
    display:block;
  }
}

header nav ul {
  position: relative;
  left: -8px;
}

header nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 6px;
  background-image: none;
  background-position: bottom left;
  background-repeat: repeat-x;
}

header.scrolled {
  background: #ffcc33;
  padding: 30px 0;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}


/*style rules for about section*/
#about{
  padding: 25px 0 100px 0;
   -webkit-transition: none;
  transition: none;
  position: relative;
  -webkit-animation: fadeIn 700ms 600ms;
  -webkit-animation-fill-mode: backwards;
}

#about p {
  margin-bottom: 40px;
}

/*style rules for contact form*/
#contact{
  background:#ffffff;
  position: relative;
  padding: 70px 0 120px 0; 
}

#contact form {
  opacity: 1;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  text-align: center;
  }

#contact form input,
#contact form textarea {
  width: 100%;
  max-width: 500px;
  border: none;
  background: #efefef;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}


/*style rules for footer*/
footer {
  background:;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 30px 0 160px 0;
  position: relative;
  text-align: center;
  line-height: 1.8em;
}

/*style rules for introduction div*/
#intro {
  background: ;
  /*height: 100%;*/
  min-height: 400px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}